@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-300: #d8b4fe;
  --primary-500: #a855f7;
  --blue-500: #3b82f6;
  --green-500: #22c55e;
  --red-500: #ef4444;
}

html {
  background: #f3f4f6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
